 .tableOfProducts{
     overflow: hidden;          
    border-collapse: collapse;
    border: 2px solid #1C6EA4; 
    float: left;
} 


.table-thead-cell {
    border: 2px solid black;
    border-collapse: collapse;
    background-color: sandybrown;
}

.table-tbody-cell {
    border: 2px solid black;
    border-collapse: collapse;
    background-color:  skyblue;
}

.editTab{
    color: slateblue;
    display: block;
    float: right;
    margin-right: 600px;
}

.inputCell{
    display: block;
    margin: 5px;
}

tr {transition:all .25s ease-in-out}
tr :hover{background-color: #EEE; cursor: pointer;}

